:root {
    --button-hover-border-color: #FEDE55;
}

@font-face {
    font-family: "Typo Round Regular";
    src: url(fonts/Typo_Round_Regular_Demo.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Typo Round Regular", Arial, Helvetica, sans-serif;
    background-color: rgba(255, 209, 223, 0.437);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

.target-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.targets {
    display: flex;
}

.result {
    position: absolute;
    top: 5%;
    font-size: 3rem;
}

.player-choice-target,
.computer-choice-target {
    width: 250px;
    height: 250px;
    align-self: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    gap: 1rem;
    visibility: hidden;
}

.buttons-container button {
    border: 3px rgb(96,17,85) solid;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    height: 60px;
    transition: all 0.3s;
    width: 250px;
}

/* Credit transform and transition idea from 
https://codepen.io/evanscode/pen/KqWRyg */

.buttons-container button:hover {
    background-color: var(--button-hover-border-color);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
    color: rgb(255, 255, 255);
    border-color: black;
    transform: scale(1.03);
}

.buttons-container button:active {
    transform: scale(0.98);
}

#play-again-button:active {
    background-color: #74DAE2;
}

#reset-button:active {
    background-color: #EF5580;
}

.play-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.player > *:hover {
    cursor: pointer;
    border-radius: 50%;
    border: 1px #EF5580 solid;
}

.player > *:active {
    cursor: pointer;
    border-radius: 50%;
    border: 1px var(--button-hover-border-color) solid;
    background-color: #EF5580;
}

.item-container {
    width: calc(250px + 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container.player {
    margin-left: 20%;
}

.item-container.computer {
    margin-right: 20%;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0) solid;
}

.player .paper {
    align-self: flex-start;
}

.computer .paper {
    align-self: flex-end;
}
